<div id="calendar"></div>
<script type="text/javascript">
  $('#calendar').fullCalendar({
  	events: '/orders.json'
  });
</script>
<!-- $(document).ready(function() {
   $("#calendar").fullCalendar({
    events: '/events.json'
   });
}); -->