
html {
    font-family: sans-serif !important;
}

.ui-autocomplete {
    position: absolute;
    z-index: 1000;
    cursor: default;
    padding: 0;
    //width: 94.5%;
    list-style: none;
    background-color: #ffffff;    
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.ui-autocomplete{
	li {
	  padding: 3px 10px;
	}	
}

body{padding:0px !important;}

.top-header nav {
  background: #ccc none repeat scroll 0 0;
  border: medium none;
  margin-bottom:0px;
  border-radius: 0;
}

.top-header {
  background: #ccc none repeat scroll 0 0;
}

.top-header nav .navbar-brand{
    padding-left:0px !important;
}

.top-header nav .right-buttons{
    margin-right:0px !important;
}

.edit-list{margin:25px 0 0 0px;}

.sv-btn{float:right; padding: 0 5px 0 0;}

#flash_notice {
  margin-top: 25px;
}

.well{margin-top:120px;}

#new_user .input-group {
  margin: 2px 0 15px;
}

.sgn-btn{border:none; margin:10px 0 0px;}

.ui-state-active {
  border: 1px solid #ffa500 !important;
  background: #ffa500 !important;
}


.lst-item {
  float: left;
  padding: 15px 15px 0 0px;
}

.lst-item li {
  display: inline;
  float: left;
  text-align:center;
  padding: 0 10px;
}

.lst-item li i {
  font-size: 20px;
}

.lst-item li span {
  float: left;
  font-size: 13px;
  width: 100%;
}

.logout{margin-top:16px;}

.ui-helper-hidden-accessible{
  display: none;
}

