body {
  padding-top: 20px;
}

.btn-primary {
    &.panel-button{
      background-color: #fff !important;
      border-color: #7386D5 !important;
      color: #7386D5;
    }
    background-color: #7386D5 !important;
    border-color: #fff !important;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7386D5 !important;
    border-color: #fff !important;
    color: #fff;
}
.panel-primary {    
    border-color: #7386D5 !important;
    .panel-heading {
        color: #fff;
        background-color: #7386D5;
        border-color: #7386D5;
    }
}

.action {
  a{
    padding-right: 20px;
    color: #7386D5;
    outline: none;
  }
}

#flash_notice {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

.navbar-default{
	background-color: #7386D5;
  .navbar-brand {
    color: white;
  }
}
.top-header {
    background: #7386D5;
}
.top-header nav {
  background: #7386D5 none repeat scroll 0 0;
}
.navbar{
  .right-buttons {
    margin-right: 15px;
    margin-left: 25px;
    .lst-item{
      li{
        a{
          color: white;
        }
      }
    }
  }
}

.error-list{
  li{
    color: red;
    list-style: decimal;
    padding: 12px;
  }
  background-color: antiquewhite;
}
.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #e6e6e6;
    color: #ccc;
    text-align: center;
}

.form-control-feedback{
  top: 35px !important;
}
.main-wrapper{
  width: 100%;
  float: left;
}