body {
  padding-top: 20px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #7386D5 !important;
    border-color: #7386D5 !important;
}

.panel-primary {    
    border-color: #7386D5 !important;
    .panel-heading {
        color: #fff;
        background-color: #7386D5;
        border-color: #7386D5;
    }
}

#flash_notice {
  @extend .alert;
  @extend .alert-success;
}
#flash_error, #flash_alert {
  @extend .alert;
  @extend .alert-danger;
}
#flash_warning {
  @extend .alert;
  @extend .alert-warning;
}

.navbar-default{
	background-color: #7386D5;
  .navbar-brand {
    color: white;
  }
}
.top-header {
    background: #7386D5;
}
.top-header nav {
  background: #7386D5 none repeat scroll 0 0;
}
.navbar{
  .right-buttons {
    margin-right: 15px;
    margin-left: 25px;
    .lst-item{
      li{
        a{
          color: white;
        }
      }
    }
  }
}